.hidden
{
	display: none;
}
#container
{
	width: 1000px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
	/*margin top and bottom 0, margin left and right equal*/
}
.wrapper {
	/* display: inline-block; */
	margin: 0;
	position:relative;
  }
  
.wrapper img {
	width: 100%;
  }

.box {
	width: 1000px;
	height: 540px;
	margin: 10px 10px;
	position: absolute;
	
}

.box li {
	width: 225px;
	height: 400px;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	justify-content: space-between;
	margin-top: 66px;
}


.icon:hover object {
	transition: all .2s;
	transform: translateY(-5px);
}

.icon {
	text-align: center;
	border-radius: 10px;
    background: linear-gradient(315deg, #ffffff, #e6e6e6);
    box-shadow:  -5px -5px 100px #666666, 5px 5px 100px #ffffff;
}
 
.icon object {
	margin: 20px;
}

.icon p {
	font-size: 14px;
	font-family: 'Courier New', Courier, monospace;
	color: #333333;
	font-weight: Lighter;
	margin: 20px;
 }

.selected {
	background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}